absl-py==2.1.0
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==3.0.0
attrs==25.3.0
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
fastapi==0.68.1
Flask==3.0.3
Flask-Cors==4.0.1
huggingface-hub>=0.10.0
numpy==1.21.2
onnxruntime==1.10.0
pydantic==1.8.2
python-multipart==0.0.5
uvicorn==0.15.0